*{
    margin: 0;
    padding: 0;
    box-sizing:content-box ;
}
body{
    background-color: rgb(46, 108, 169);
    background-image:linear-gradient(gold white tomato);
}
.top_box{
    height: 50px;
    width: 97%;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;     
}
.top_box:hover{
    background-color: aqua;
}
#bottom_box{
    background-color: black;
}
.first_h1{
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: aliceblue;
    padding-left:10px ;
}
.first_button{
    padding-right: 150px;
    font-size: 12px;
    width: 250px;
    height: 20px;
    border-radius: 30px;
    background-color: rgb(54, 54, 54);
    color: aliceblue;   
}
.first_button:active{
    background-color: aliceblue;
    color: rgb(29, 136, 230);
}
.img_profil{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.section{
    display: flex;

}
.menu{
    height: 650px;
    width: 200px;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(42, 119, 183);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.menu:active{
    box-shadow: 10px -5px 5px gold;
}
.head_menu{
    text-align: center;
    display: inline;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
    color: rgb(189, 194, 198);
}
.buttons:hover{
    box-shadow: 5px 5px 5px black;
    background-color: aliceblue;
    color: black;
}
.buttons{
    background-color: rgb(104, 103, 102);
    font-size: 10px;
    height: 20px;
    width: 140px;
    color: aliceblue;
    border-radius: 20px;
    margin: 10px;  
}
.good_evening{
    display: grid;
    height: 700px;
    width: 500px;
    grid-template-columns:300px 300px 300px ;
    grid-template-rows: 250px 250px 150px;  
}
.box{
    border-radius: 20px;
    background-color: rgb(24, 23, 23);
}
.box1{
    width: 600px;
    margin: 10px;
    background-color: rgb(68, 138, 196);
    border-color: black;  
}
.box:hover{
    box-shadow: 5px 5px 5px white;
}
.Head1{
    top: 100px;
    color: aliceblue;
    font-size: 20px;  
}
.para1{
    font-size: 15px;
    color: aliceblue;   
}
.btn1{
    height: 30px;
    width: 80px;
    
}
.box2{
    text-align: center;
   width: 0px;
   /* margin-left: ; */
    background-color: rgb(102, 209, 120);
}
.box3_flex{
    text-align: center;
    display: grid;
    grid-template-rows:100px 100px ;
    /* grid-template-columns: ; */
    background-color: black;
    box-sizing: 5px 5px 5px black;
}
.box3_flex:hover{
    background-color: rgb(108, 244, 90);
}
#box1{
    background-color: rgb(23, 21, 21);
    border-radius: 20px;
    color: aliceblue;
    border: 2px solid rgb(223, 216, 216);
    width: 280px;
    margin-bottom: 10px;
    height: 110px;
}
#box1:hover{
    background-color: rgb(240, 156, 38);
}
#box2{
    background-color: rgb(23, 21, 21);
    border-radius: 20px;
    color: aliceblue;
    border: 2px solid rgb(223, 216, 216);
    margin-top: 20px;
    width: 280px;
    height: 110px;
}
.box3{   
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(35, 133, 198);
}
.box4{
    color: aliceblue;
   margin-right: 10px;
    background-color: rgb(50, 106, 219);
}
.box5{
    width: 600px;
    background-color: rgb(68, 132, 138);
}
.box5_flex{
    display: grid;
    
    grid-template-rows:115px 115px 115px ;
    grid-template-columns:190px 190px 200px ;
    background-color: black;
    gap: 5px;
}
.img{
    border-radius: 10px;
    margin:3px ;
    border: 2px solid rgb(237, 233, 233);
    background-color: aqua;
    
}
#img1{
    height: 115px;
    width: 190px;
    background-size: cover;
   background-image: url("https://wallup.net/wp-content/uploads/2016/02/18/286966-nature-photography.jpg "); 
    
}
#img2{
    height: 115px;
    width: 190px;
    background-size: cover;
   background-image: url("https://static.vecteezy.com/system/resources/previews/030/258/039/large_2x/beautiful-nature-wallpaper-hd-wallpaper-ai-generated-free-photo.jpg "); 
    
    
}
#img3{
    
    height: 115px;
    width: 200px;
    background-size: cover;
   background-image: url("https://wallpapercave.com/wp/wp4700293.jpg "); 
    
}
#img4{
    
     height: 120px;
    width: 190px;
    background-size: cover;
   background-image: url("https://wallup.net/wp-content/uploads/2014/10/nature/Beautiful_Forest_Green_Lake_Landscape.jpg"); 
    
}
#img5{
    
     height: 120px;
    width: 190px;
    background-size: cover;
   background-image: url("https://wallpapercave.com/wp/wp2568544.jpg "); 
    
}
#img6{
    
     height: 120px;
    width: 200px;
    background-size: cover;
   background-image: url("https://th.bing.com/th/id/R.b8a58c167e2b1e0c55c66738555c96ff?rik=pJOT%2f5hfmnxwrw&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f03%2fBeautiful-Nature-wallpaper-background-free.jpg&ehk=y%2bAZIiPuwRq5zjDm6AcPFysoAC7o3qknhfJh3%2bzrbdk%3d&risl=&pid=ImgRaw&r=0"); 
    
}
.box6{
   width: 0px;
    background-color: rgb(213, 87, 222);
}
.box7{
    color: rgb(220, 250, 88);
    text-align: center;
    margin-top: 10px;
    width: 200px; 
    background-color: rgb(88, 146, 245);
}
.box8{ 
    color: blue;
    text-align: left;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(88, 146, 245);
}
.box9{ 
    color:rgb(227, 131, 131) ;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(88, 146, 245);
}
.bottom_box{
    height: 50px;
    width: 97%;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid white;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.bottom_box:active{
    background-color: gold;
    color: black;
}