body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.border{
    height: 1000px;
    width: 100vw;
    border: 3px solid red;
    background-color: black;
    background-image: url("");
}
.img{
    height: 400px;
    width: 90%;
    border-radius: 10px;
}
.line_bar{
    height: 20px;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    top:420px ;   
}
.moon{
        text-align: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: black;
        line-height: 200px;
        box-shadow: 0px  0px   50px rgb(250, 231, 194);
        position: absolute;
        top: 500px;
        left: 5%;
    }
    .moon2{
        text-align: center;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: black; 
        line-height: 200px;
        box-shadow: 10px  10px   5px #ead1b8;
        position: absolute;
        top: 500px;
        left: 18%;
    }
    .moon3{
        text-align: center;
        height: 120px;
        width: 120px;
        border-radius: 70%;
        background-color: black; 
        line-height: 200px;
        box-shadow: 20px  20px   10px #f4e5c6;
        position: absolute;
        top: 500px;
        left: 35%;
    }
    .moon4{
        text-align: center;
        height: 120px;
        width: 100px;
        border-radius: 50%;
        background-color: black; 
        line-height: 200px;
        box-shadow: 30px  30px   15px #f0e7d5;
        position: absolute;
        top: 500px;
        left: 50%;
    }
   .moon5{
        text-align: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: black; 
        line-height: 200px;
        box-shadow: 40px  40px   15px #f0e7d5;
        position: absolute;
        top: 480px;
        left: 65%;
    }
    .moon6{
        text-align: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color:#fbf5ea; 
        line-height: 200px;
        box-shadow: 0  0   10px white;
        position: absolute;
        top: 520px;
        left: 85%;
    }